.navbar-toggler.btn-like {
    border-width: 0px;
    border-radius: 100px;
    padding: .55rem .70rem;
}

.pair {
    background-color: #ccc;
}

.navbar-toggler.btn-like:active {
    background-color: #ccc;
}

.st-bg-primary {
    background-color: var(--stprimary)!important;
}

.st-text-dark {
    color: var(--stdark-text)!important;
}
.st-text-light {
    color: var(--stlight-text)!important;
}

.whole-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100vh;
}

.whole-container .content {
    display: block;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-bottom: 0px;
    height: 100%;
}


:root {
    --stprimary: rgb(255, 158, 30);
    --stprimary-btn: rgb(255, 145, 0);
    --stprimary-text: rgb(218, 148, 57);

    --stdark-: rgb(39, 38, 37);
    --stdark-btn: rgb(24, 23, 21);
    --stdark-text: rgb(34, 34, 34);

    --stlight-text: rgb(238, 238, 238);
}