<div >It works!</div>
<form am-submit="this.add()">
    <input type="text" am-model="this.model" />
    <input type="submit" value="add">
</form>

<div am-repeat="let item in this.list" am-class="{'pair': this.$index % 2 }">
    <div >
        <input type="checkbox" am-checked="this.$index % 2" />
        <span am-click="this.remove(this.$index)">x</span>
        <span >{{this.item}}</span>
    </div>
</div>